[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.2.0
[submodule "lib/aes-circom"]
	path = lib/aes-circom
	url = https://github.com/Electron-Labs/aes-circom
